<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#06c1db">
    <title>Eduardo Viana Portifolio</title>
    <link rel="stylesheet" href="../style/style.css">
    

</head>
<body>
<div class = "Meu_nome">
    <h1>Eduardo Viana</h1>
    <p>Developer Back-End</p>
</div>
<div class = "Sobre_Mim">Sobre mim</div>
<div class = "Hard_Skills">Skills</div>
<div class = "projetos" >Meus Projetos</div>



<div class="apresentacao">
    <h2>Sobre Mim</h2>
    <p>Olá, me chamo Eduardo, tenho 19 anos e sou desenvolvedor.<br>
        Estou cursando Análise e Desenvolvimento de Sistemas e atuo na criação de projetos como freelancer Full-Stack, com foco em adquirir experiência no desenvolvimento web e me especializar na área de Back-End. 
        <br><br><br>
        Atualmente, estou fazendo um bootcamp completo de Java para criar projetos<br>
        Full-Stack com mais confiança e experiência. Meu objetivo é desenvolver APIs e APIs REST<br>
        robustas para sistemas comerciais, softwares e projetos de maior porte, com mais<br>
        versatilidade e eficiência. 
        <br><br><br>
        
        Eu costumo aprimorar meus conhecimentos no html5 e css3 na maior parte <br>
        dos meus projetos, embora meus estudos sejam focados quase exclusivamente<br>
        no back end, isso se da por conta da busca de familiaridade em projetos Full-Stack.
        <br><br><br>
    </p>
</div>

<div  class="imagems">
    <h2>
        Skills
    </h2>
    <p>
        Atualmente so estou utilizando o Python e seu MicroFramework Flask para<br>
        a criação da minhas Apis, infelizmente nao utilizo Java por conta da sua <br>
        complexidade com o Framework Springbot que ainda nao comecei a estudar.
        <br><br><br>
        Eu utilizo Html5 para marcar e Css3 para estilizar meu projeto, estou em busca de<br>
        identificar um framework para me destacar mais ainda com essas ferramentas.<br>
        <br><br><br>
        Estou utilizando o banco de dados relacional Mysql para o armazenamento <br>
        de dados dos meus projetos simples, estou implemento o banco de dados <br>
        aos poucos para ter mais consistencia na utilização.
        <br>
    </p>
    <img src="../template/imagems/python-10-256.png" alt="">
    <img src="../template/imagems/java.png" alt="">
    <img src="../template/imagems/flask_logo_white.png" alt="">
    <img src="../template/imagems/html5-36-256.png" alt="">
    <img src="../template/imagems/css3-19-256.png" alt="" >
    <img src="../template/imagems/mysql-8-256.png" alt="">
</div>

</body>
</html>
